<a href="https://colab.research.google.com/github/lucasfreire01/chicago_crime/blob/main/chicago_crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('/content/Chicago Total Crimes 2001 - 2023.csv')

In [ ]:
dataset.columns

Index(['Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'FBI Code', 'X Coordinate', 'Y Coordinate',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [ ]:
dataset

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Latitude,Longitude,Location
0,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6,8,44,06,-2147483648,-2147483648,NaN,NaN,NaN
1,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,824,8,15,63,11,-2147483648,-2147483648,NaN,NaN,NaN
2,JB373031,07/31/2018 01:30:00 PM,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233,2,5,41,18,-2147483648,-2147483648,NaN,NaN,NaN
3,JC209972,12/19/2018 04:30:00 PM,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2514,25,31,19,14,-2147483648,-2147483648,NaN,NaN,NaN
4,JC212744,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811,8,23,56,11,-2147483648,-2147483648,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695971,HZ395368,08/16/2016 10:00:00 PM,067XX S MAPLEWOOD AVE,0620,BURGLARY,UNLAWFUL ENTRY,RESIDENCE,False,False,832,8,15,66,05,1160535,1859880,41.771205,-87.687092,"(41.771204571, -87.687091578)"
695972,HZ394345,08/16/2016 12:51:00 PM,004XX S WELLS ST,0460,BATTERY,SIMPLE,RESTAURANT,True,False,122,1,2,32,08B,1174791,1898367,41.876510,-87.633685,"(41.876510461, -87.633685382)"
695973,HZ395227,08/16/2016 10:01:00 PM,102XX S EBERHART AVE,0450,BATTERY,AGGRAVATED PO: HANDGUN,STREET,True,False,511,5,9,49,04B,1181383,1837275,41.708719,-87.611366,"(41.708718575, -87.611365758)"
695974,HZ395378,08/16/2016 08:00:00 PM,013XX W MELROSE ST,0820,THEFT,$500 AND UNDER,STREET,False,False,1924,19,44,6,06,1166863,1921691,41.940687,-87.662124,"(41.940686651, -87.662124122)"
695975,HZ395382,08/16/2016 09:00:00 PM,015XX N ORLEANS ST,0810,THEFT,OVER $500,STREET,False,False,1821,18,27,8,06,1173630,1910501,41.000000,NaN,NaN

In [ ]:
dataset['Beat'].value_counts()

1834    6645
421     5448
511     4902
423     4890
1831    4885
        ...
2131     126
2322      97
1650      36
310        4
430        2
Name: Beat, Length: 305, dtype: int64

In [ ]:
dataset['Primary Type'].value_counts()

THEFT                                156858
BATTERY                              120574
CRIMINAL DAMAGE                       73331
DECEPTIVE PRACTICE                    53802
NARCOTICS                             48804
ASSAULT                               47646
OTHER OFFENSE                         42681
MOTOR VEHICLE THEFT                   38780
BURGLARY                              29173
ROBBERY                               24930
CRIMINAL TRESPASS                     14728
WEAPONS VIOLATION                     11530
OFFENSE INVOLVING CHILDREN             8555
SEX OFFENSE                            4298
PUBLIC PEACE VIOLATION                 4238
CRIM SEXUAL ASSAULT                    3666
PROSTITUTION                           3116
INTERFERENCE WITH PUBLIC OFFICER       2189
CRIMINAL SEXUAL ASSAULT                1919
ARSON                                  1281
LIQUOR LAW VIOLATION                    810
GAMBLING                                740
STALKING                                647
KIDNAPPING                              477
INTIMIDATION                            419
HOMICIDE                                307
CONCEALED CARRY LICENSE VIOLATION       186
OBSCENITY                               148
NON-CRIMINAL                             50
HUMAN TRAFFICKING                        33
NON - CRIMINAL                           23
PUBLIC INDECENCY                         22
OTHER NARCOTIC VIOLATION                 13
RITUALISM                                 1
NON-CRIMINAL (SUBJECT SPECIFIED)          1
Name: Primary Type, dtype: int64

In [ ]:
dataset.isnull().sum()

Case Number                 1
Date                        0
Block                       0
IUCR                        0
Primary Type                0
Description                 0
Location Description     5085
Arrest                      0
Domestic                    0
Beat                        0
District                    0
Ward                        0
Community Area              0
FBI Code                    0
X Coordinate                0
Y Coordinate                0
Latitude                88300
Longitude               88301
Location                88301
dtype: int64

In [ ]:
import pandas as pd

# Sample data
data = dataset['IUCR']

# Create a DataFrame
df = pd.DataFrame(data, columns=['IUCR'])

# Create a new 'Category' column based on the condition
df['Category'] = df['IUCR'].apply(lambda x: 'ROBBERY' if x.startswith(('031', '032', '033')) else 'Other')

print(df)

        IUCR Category
0       0810    Other
1       1153    Other
2       2024    Other
3       1320    Other
4       1153    Other
...      ...      ...
695971  0620    Other
695972  0460    Other
695973  0450    Other
695974  0820    Other
695975  0810    Other

[695976 rows x 2 columns]

In [ ]:
df

        IUCR Category
0       0810    Other
1       1153    Other
2       2024    Other
3       1320    Other
4       1153    Other
...      ...      ...
695971  0620    Other
695972  0460    Other
695973  0450    Other
695974  0820    Other
695975  0810    Other

[695976 rows x 2 columns]

In [ ]:
filtered_df = df[df['IUCR'].str.startswith(('031', '032', '033'))]

print(filtered_df)

        IUCR Category
93      031A  ROBBERY
117     0330  ROBBERY
176     031A  ROBBERY
340     0320  ROBBERY
351     031A  ROBBERY
...      ...      ...
695934  031A  ROBBERY
695943  0326  ROBBERY
695961  031A  ROBBERY
695963  0320  ROBBERY
695969  033A  ROBBERY

[24123 rows x 2 columns]

In [ ]:
import pandas as pd

# Sample data
data = dataset['IUCR'].unique()

# Create a DataFrame
df = pd.DataFrame(data, columns=['Crime_Code'])

# Extract the first digits and letters
df['Category'] = df['Crime_Code'].str.extract(r'(\d+)([A-Z]*)', expand=False).apply(tuple, axis=1)

# Group by Category and count occurrences
category_counts = df.groupby('Category').size().reset_index(name='Count')

print(category_counts)

     Category  Count
0    (0110, )      1
1    (0142, )      1
2    (0261, )      1
3    (0262, )      1
4    (0263, )      1
..        ...    ...
365  (5121, )      1
366  (5122, )      1
367  (5130, )      1
368  (5131, )      1
369  (5132, )      1

[370 rows x 2 columns]

In [ ]:
dataset['IUCR'].value_counts()

0820    57441
0486    54819
0460    43788
0810    43063
1320    36716
        ...
1624        1
5005        1
1578        1
1542        1
2060        1
Name: IUCR, Length: 370, dtype: int64